/*
    STYLE CSS
    
    - FONTS
    - NORMALIZE
    - COMMON CLASSES
    - DOCUMENT SETUP
    - CSS3 EFFECTS
    - INPUTS AND TEXTAREA
    - FLASH MESSAGE
    - SECTION, ENTRY, CONTENT
    - PRIMARY
    - ASIDE
    - WIDGETS - logo, mini dashboard, twitter etc..
    - PROFILE
    - ARTICLE
    - SEARCH
    - EVENTS
    - MEMBERS LIST
    # GRID
    # MEDIA QUERIES
    # PRINT STYLES
*/

/** --------------------------------------------------------------
    FONTS
    ----------------------------------------------------------- */
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700");

@font-face {
    font-family: 'batch';
    src:url('../fonts/batch-icons-webfont.eot');
    src:url('../fonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/batch-icons-webfont.woff') format('woff'),
        url('../fonts/batch-icons-webfont.ttf') format('truetype'),
        url('../fonts/batch-icons-webfont.svg#batch') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** --------------------------------------------------------------
    NORMALIZE
    Eric A. and Kathryn S. Meyer
    - http://meyerweb.com/eric/tools/css/reset/
    ----------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; } div { position: relative; }

/** --------------------------------------------------------------
    COMMON CLASSES
    ----------------------------------------------------------- */
.block { display: block; }
.inline { display: inline; }
.hidden { display: none; visibility: hidden;}
.none { display: none; }
.hidden { display: none; visibility: hidden; } /* Hide from screen readers */
.alignleft, .alignLeft { float: left; }
.alignright, .alignRight { float: right; }
.aligncenter, .alignCenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix { display: inline-block; } /* Hide from IE Mac */ 
.clearfix { display: block; } /* End hide from IE Mac */
.cf {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

/** --------------------------------------------------------------
    DOCUMENT SETUP
    ----------------------------------------------------------- */
body {
    background: #eff0eb url("../img/bg.png") repeat;
    font: normal 14px/1.75em sans-serif, Arial;
    color: #626262;
    letter-spacing: 0;
}

.mainContainer {
    width: 1200px;
    margin: 0 auto;
    padding: 1.6em 0;
}

p {
    margin-top: 1.65em;
}

    p:first-child {
        margin-top: 0;
    }
    
a {
    color: #222;
    font-weight: 700;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #037ea5;
}

    .aside a {
        color: #037ea5;
    }

        .aside a:hover,
        .aside a:focus {
            color: #222;
        }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    color: #222;
    margin: 0 0 0.67em 0;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #222;
}

h1 a:hover, h1 a:focus,
h2 a:hover, h2 a:focus,
h3 a:hover, h3 a:focus,
h4 a:hover, h4 a:focus,
h5 a:hover, h5 a:focus,
h6 a:hover, h6 a:focus {
    color: #0d737a;
}

[data-icon]:before {
    font-family: 'batch';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.scrollUpButton {
    display: none;
    position: fixed;
    bottom: 0;
    right: 1em;
    background-color: #222;
    color: #fff;
    font-size: 1.6em;
    padding: .4em .5em;

    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;

    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
}

    .scrollUpButton:hover {
        background-color: #037ea5;
        color: #fff;
    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    border-color: #ddd;
    margin: 1em 0;
    padding: 0;
}

blockquote {
    border-left: 5px solid !important;
    border-color: #037ea5 !important;
    padding: 1em 1.6em !important;
    margin: 1em 0 !important;
    font-style: italic !important;
}

/** --------------------------------------------------------------
    CSS3 EFFECTS
    ----------------------------------------------------------- */
a, img, input {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

input,
.button,
.nav,
.content,
.dashboard img,
.profilePicture img,
.recent li img,
.membersList li .pic img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.profile img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.article .meta .author,
.article .meta .author img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.article .meta .author {
    -webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -2px 3px rgba(0, 0, 0, .15);
    box-shadow: 0 -2px 3px rgba(0, 0, 0, .15);
}

.nav,
.nav li ul,
.content,
#flashMessage {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
}

.widget h1 {
    -webkit-box-shadow: 0 -3px 6px rgba(0, 0, 0, .10);
    -moz-box-shadow: 0 -3px 6px rgba(0, 0, 0, .10);
    box-shadow: 0 -3px 6px rgba(0, 0, 0, .10);
}

a:hover img,
a:focus img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/** --------------------------------------------------------------
    INPUTS AND TEXTAREA
    ----------------------------------------------------------- */
label,
legend {
    display: block;
    font-weight: 700;
    margin-top: 1.6em;
}

    label:first-child,
    legend:first-child {
        margin-top: 0;
    }

textarea {
    margin-top: 1.6em;
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
}

input,
textarea {
    width: 100%;
    color: #777;
    font-weight: 700;
    border: 1px solid;
    border-color: #ddd;
    padding: .68em .8em;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.no-boxsizing input,
.no-boxsizing textarea {
    width: 98.2%;
    min-width: 98.2%;
    max-width: 98.2%;
}

.no-boxsizing input[type="button"],
.no-boxsizing input[type="submit"] {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

input[type="button"],
input[type="submit"],
.button {
    width: auto;
    display: inline;
    background-color: #007da5;
    margin: 1.6em 0 0;
    padding: 0.7em 0.8em;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 1px #312d2a;
    filter: dropshadow(color=#312d2a, offx=0, offy=0);
    border: 0;
    border-bottom: 2px solid !important;
    border-color: #006585 !important;
    cursor: pointer;
}

    input[type="button"]:hover,
    input[type="button"]:focus,
    input[type="submit"]:hover,
    input[type="submit"]:focus,
    .button:hover,
    .button:focus {
        color: #fff;
        background-color: #009bcd;
    }

.register label:after {
    content: ' *';
    color: red;
    display: inline;
}

.description {
    display: block;
    background-color: #eee;
    margin-top: 1em;
    padding: .7em 1em;
    font-size: 0.8em;
    font-weight: 700;
    color: #7b7b7b;
}

/** --------------------------------------------------------------
    FLASH MESSAGE
    ----------------------------------------------------------- */
#flashMessage {
    display: block;
    background-color: #fff;
    text-align: center;
    font-weight: 700;
    padding: .6em 0;
    cursor: pointer;
}

    #flashMessage.success {
        background-color: #8eb265;
        color: #fff;
    }

    #flashMessage.error {
        background-color: #b26565;
        color: #fff;
    }

/** --------------------------------------------------------------
    SECTION, ENTRY, CONTENT
    ----------------------------------------------------------- */
.section {
    display: block;
    margin-top: 2em;
}

    .section:first-child {
        margin-top: 0;
    }

.entry {
    display: block;
    margin-top: 2em;
}

    .entry:first-child {
        margin-top: 0;
    }

    .aside.lower .entry {
        margin-top: 2em;
    }

.content {
    display: block;
    padding: 1.2em;
    background-color: #fff;
}

/** --------------------------------------------------------------
    NAV
    ----------------------------------------------------------- */
.nav {
    float: left;
    width: 100%;
    background-color: #5f5f5f;

    background-image: -khtml-gradient(linear,left top,left bottom,from(#828282),to(#5f5f5f));
    background-image: -moz-linear-gradient(#828282,#5f5f5f);
    background-image: -ms-linear-gradient(#828282,#5f5f5f);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#828282),color-stop(100%,#5f5f5f));
    background-image: -webkit-linear-gradient(#828282,#5f5f5f);
    background-image: -o-linear-gradient(#828282,#5f5f5f);
    background-image: linear-gradient(#828282,#5f5f5f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828282',endColorstr='#5f5f5f');
}

    .nav li {
        float: left;
        position: relative;
    }

        .nav li a {
            display: block;
            line-height: 1em;
            padding: 1.3em 1.25em;
            color: #fff;
            font-weight: 700;
            text-shadow: 0px 0px 1px #312d2a;
        }

            .nav li.currentMenuItem a,
            .nav li a:hover,
            .nav li a:focus {
                background-color: #454242;
            }

        /*
            Rouding corners for first link in nav
        */
        .nav > li:nth-child(2) a {
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-bottom-left-radius: 3px;

            -webkit-border-top-left-radius: 3px;
            -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
        }

        /*
            Dropdown menu
        */
        .nav li ul {
            display: none;
            position: absolute;
            background-color: #fff;
            width: 250px;
            padding: .7em 0;
            z-index: 100;

            webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-bottom-left-radius: 3px;

            -webkit-border-bottom-right-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            border-bottom-right-radius: 3px;
        }

            .nav li ul li {
                display: block;
                width: 100%;
            }

                .nav li ul li a {
                    display: block;
                    padding: 1em 1.25em;
                    color: #454242;
                    line-height: 1em;
                    text-shadow: none;
                }

                    .nav li ul li a:hover,
                    .nav li ul li a:focus,
                    .nav li ul li.currentMenuItem a {
                        background-color: #037ea5;
                        color: #fff;
                    }

                /*
                    Mobile Menu trigger button
                */
                .mobileTrigger {
                    font-size: 1.9em;
                }

                    .nav li.mobileTrigger a {
                        text-align: right;
                        padding: .5em 1.25em .45em;

                        webkit-border-top-left-radius: 3px;
                        -moz-border-radius-topleft: 3px;
                        border-top-left-radius: 3px;

                        -webkit-border-top-right-radius: 3px;
                        -moz-border-radius-topright: 3px;
                        border-top-right-radius: 3px;
                    }

                    .nav li.mobileTrigger a:hover,
                    .nav li.mobileTrigger a:focus {
                        background-color: transparent;
                    }

        /*
            Display dropdown menu on hover
        */
        .nav li:hover ul {
            display: block;
        }

/** --------------------------------------------------------------
    PRIMARY
    ----------------------------------------------------------- */
.primary {
    float: left;
    width: 65.81196581196582%;
    min-height: 430px;
}

/** --------------------------------------------------------------
    ASIDE
    ----------------------------------------------------------- */
.aside {
    float: right;
    width: 31.623931623931625%;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
}

    .aside.upper {
        
    }

/** --------------------------------------------------------------
    WIDGETS
        - logo
        - widget
        - login
        - twitter
        - dashboard
        - recent members
    ----------------------------------------------------------- */
    /*
        Logo
    */
    .logo img {
        width: auto;
        max-width: 100%;
        height: auto;
    }

    /*
        Widget
    */
    .aside.lower .entry.widget {
        margin-top: 4em;
    }

        .widget h1 {
            background-color: #fff;
            font-size: 1.2em;
            line-height: 1em;
            text-align: center;
            margin-top: -40px;
            padding: .8em;

            -webkit-border-top-left-radius: 3px;
            -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;

            -webkit-border-top-right-radius: 3px;
            -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
        }

    /*
        Login
    */
    .entry.login input[type="password"],
    .entry.login input[type="text"] {
        margin-top: 1.6em;
    }

        .entry.login input[type="text"]:first-child {
            margin-top: 0;
        }

    .entry.login a {
        margin-left: .6em;
    }

    /*
        Twitter
    */
    .tweetbox .text {
        margin: 0;
    }

        .tweetbox li {
            padding-top: 1.6em;
        }

        .tweetbox li:first-child {
            padding-top: 0;
        }

    /*
        Dashboard
    */
    .entry.dashboard {
        margin-top: 3.3em;
        font-weight: 700;
    }

        .dashboard .avatar {
            float: left;
            margin-top: -2.5em;
            margin-right: 1em;
            line-height: 1em;
        }

            .dashboard .avatar img {
                width: 60px;
                height: 60px;
            }

        .dashboard .settings {
            float: right;
            font-size: 1.8em;
        }

        .dashboard ul {
            display: none;
            width: 100%;
            margin-top: 1em;
            margin-bottom: -.5em;
        }

            .dashboard li {
                width: 100%;
                border-top: 1px solid;
                border-color: #ddd;
            }

                .dashboard li:first-child {
                    border-top: 0;
                }

                .dashboard li a {
                    display: block;
                    font-size: .8em;
                    line-height: 2.4em;
                    text-transform: uppercase;
                }

    /*
        Recent Members
    */
    .recent {
        display: block;
    }

        .recent li {
            float: left;
            display: block;
            width: 100%;
            margin-top: 1em;
        }

            .recent li:first-child {
                margin-top: 0;
            }

            .recent li a.pic {
                float: left;
                margin-right: 1em;
            }

            .recent li img {
                width: 36px;
                height: 36px;
            }

            .recent li .skills {
                display: block;
                font-size: .8em;
            }

                .recent li .skills a {
                    color: #222;
                    font-weight: 400;
                }

                    .recent li .skills a:hover,
                    .recent li .skills a:focus {
                        color: #037ea5;
                    }

            .recent li .date {
                display: block;
                font-size: .8em;
            }

/** --------------------------------------------------------------
    PROFILE
    - Profile
    - Profile edit
    ----------------------------------------------------------- */
/*
    Profile
*/
.profile {

}

    .profile .vcard {
        display: block;
    }

    .profile .name {
        color: #222;
        font-size: 1.4em;
        font-weight: 700;
    }

    .profile .rank {
        font-size: .8em;
        font-weight: 700;
        text-transform: uppercase;
    }

    .profile .status {
        font-size: .9em;
        font-weight: 700;
    }

        .profile .status span {
            font-size: .9em;
        }

        .profile .status.online {
            color: #8eb265;
        }

        .profile .status.offline {
            color: #b26565;
        }

    .profile img {
        float: left;
        width: 132px;
        height: 132px;
        margin: 0 1.6em 0 0;
    }

    .profile .content h1 {
        margin-bottom: 0;
    }

    .profile .content h2 {
        margin-top: 1.6em;
        padding-bottom: .4em;
        border-bottom: 1px solid;
        border-color: #ddd;
    }

        .profile .content > h2:first-child {
            margin-top: 0;
        }

    .profile ul {
        display: block;
    }

    .profile textarea {
        margin-top: 0;
    }

/*
    Profile edit
*/
.profilePicture {
    display: block;
}

    .profilePicture img {
        float: left;
        width: 132px;
        height: 132px;
        margin: 0 1.6em 0 0;
    }

    .profilePicture .options {
        float: left;
    }

    .profilePicture label {
        margin: 0;
    }

    .profilePicture input[type="file"] {
        width: auto;
        border: 0;
        padding: 0;
        margin-bottom: 1.6em;
    }

    .profilePicture a {
        font-size: .8em;
    }

/** --------------------------------------------------------------
    ARTICLE
    ----------------------------------------------------------- */
.article {

}

    .article .media {
        display: block;
        margin-bottom: 1em;
    }

        .article .media img {
            width: 100%;
            height: auto;
        }

    .article .meta {
        display: block;
        font-weight: 700;
    }

        .article .meta .author {
            position: absolute;
            top: -2.5em;
            right: 0;
            background-color: #fff;
            width: 80px;
            height: 80px;
            z-index: 10;
        }

            .article .meta .author img {
                width: 90%;
                height: 90%;
                margin: 5%;
            }

    .article .more-link {
        display: block;
        margin-top: 1.6em;
    }

    .article img {
        width: auto;
        max-width: 100%;
        height: auto;
    }

    .article ul {
        list-style: disc outside;
        padding-left: 1.4em;
        margin: 1.6em 0;
    }

    .article ol {
        list-style: decimal outside;
        padding-left: 1.4em;
        margin: 1.6em 0;
    }

    .article table {
        width: 100%;
    }

        .article table tr {
            border: 1px solid;
            border-color: #ddd;
        }

            .article table tr:first-child {

            }

            .article table tr:nth-child(even) {
                background-color: #eee;
            }

        .article table tr td {
            border-left: 1px solid;
            border-color: #ddd;
            padding: .4em;
        }

            .article table tr td:first-child {
                border-left: 0;
            }

        .article table img {
            width: auto;
            max-width: 100%;
            height: auto;
        }

/** --------------------------------------------------------------
    SEARCH
    ----------------------------------------------------------- */
.search {

}
    .search input[type="text"],
    .search input[type="textbox"] {
        margin-bottom: 1em;
    }

    .search input[type="radio"] {
        width: auto;
    }

    .search label,
    .search legend {
        display: inline;
        width: auto;
        margin-right: 1.6em;
    }

    .search label,
    .search input[type="radio"] {
        line-height: 1.75em;
    }

    .search legend {
        float: left;
    }

/** --------------------------------------------------------------
    EVENTS
    ----------------------------------------------------------- */
.events {

}

    .events .poster {
        float: left;
        width: 31%;
        height: auto;
        margin-right: 1.6em;
    }

/** --------------------------------------------------------------
    MEMBERS LIST
    ----------------------------------------------------------- */
.membersList {
    float: left;
    width: 100%;
}

    .membersList li {
        float: left;
        width: 100%;
        padding: .6em 0;
        border-top: 1px solid;
        border-color: #ddd;
    }

        .membersList li:nth-child(even) {
            background-color: #eee;
        }

        .membersList li:first-child {
            border-top: 0;
        }

        .membersList li .pic {
            float: left;
            margin-left: .6em;
            margin-right: 1.6em;
            line-height: 1em;
        }

            .membersList li .pic img {
                width: 60px;
                height: 60px;
            }

        .membersList li .skills {
            display: block;
        }

            .membersList li .skills a {
                font-size: .8em;
                font-weight: 400;
            }

/** --------------------------------------------------------------
    GRID
    BOOTSTRAP - http://twitter.github.com/bootstrap/
    ----------------------------------------------------------- */
.row {
    float: left;
    width: 100%;
    *zoom: 1;
}
    .row:after {
        clear: both;
    }

    .row [class*="span"] {
        display: block;
        float: left;
        position: relative;
        width: 100%;
        min-height: 30px;
        margin-left: 2.564102564102564%;
        *margin-left: 2.5109110747408616%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row [class*="span"]:first-child {
        margin-left: 0;
    }

    .row .span12 {
        width: 100%;
        *width: 99.94680851063829%;
    }
    .row .span11 {
        width: 91.45299145299145%;
        *width: 91.39979996362975%;
    }
    .row .span10 {
        width: 82.90598290598291%;
        *width: 82.8527914166212%;
    }
    .row .span9 {
        width: 74.35897435897436%;
        *width: 74.30578286961266%;
    }
    .row .span8 {
        width: 65.81196581196582%;
        *width: 65.75877432260411%;
    }
    .row .span7 {
        width: 57.26495726495726%;
        *width: 57.21176577559556%;
    }
    .row .span6 {
        width: 48.717948717948715%;
        *width: 48.664757228587014%;
    }
    .row .span5 {
        width: 40.17094017094017%;
        *width: 40.11774868157847%;
    }
    .row .span4 {
        width: 31.623931623931625%;
        *width: 31.570740134569924%;
    }
    .row .span3 {
        width: 23.076923076923077%;
        *width: 23.023731587561375%;
    }
    .row .span2 {
        width: 14.52991452991453%;
        *width: 14.476723040552828%;
    }
    .row .span1 {
        width: 5.982905982905983%;
        *width: 5.929714493544281%;
    }

    .row .offset12 {
        margin-left: 105.12820512820512%;
        *margin-left: 105.02182214948171%;
    }
    .row .offset12:first-child {
        margin-left: 102.56410256410257%;
        *margin-left: 102.45771958537915%;
    }
    .row .offset11 {
        margin-left: 96.58119658119658%;
        *margin-left: 96.47481360247316%;
    }
    .row .offset11:first-child {
        margin-left: 94.01709401709402%;
        *margin-left: 93.91071103837061%;
    }
    .row .offset10 {
        margin-left: 88.03418803418803%;
        *margin-left: 87.92780505546462%;
    }
    .row .offset10:first-child {
        margin-left: 85.47008547008548%;
        *margin-left: 85.36370249136206%;
    }
    .row .offset9 {
        margin-left: 79.48717948717949%;
        *margin-left: 79.38079650845607%;
    }
    .row .offset9:first-child {
        margin-left: 76.92307692307693%;
        *margin-left: 76.81669394435352%;
    }
    .row .offset8 {
        margin-left: 70.94017094017094%;
        *margin-left: 70.83378796144753%;
    }
    .row .offset8:first-child {
        margin-left: 68.37606837606839%;
        *margin-left: 68.26968539734497%;
    }
    .row .offset7 {
        margin-left: 62.393162393162385%;
        *margin-left: 62.28677941443899%;
    }
    .row .offset7:first-child {
        margin-left: 59.82905982905982%;
        *margin-left: 59.72267685033642%;
    }
    .row .offset6 {
        margin-left: 53.84615384615384%;
        *margin-left: 53.739770867430444%;
    }
    .row .offset6:first-child {
        margin-left: 51.28205128205128%;
        *margin-left: 51.175668303327875%;
    }
    .row .offset5 {
        margin-left: 45.299145299145295%;
        *margin-left: 45.1927623204219%;
    }
    .row .offset5:first-child {
        margin-left: 42.73504273504273%;
        *margin-left: 42.62865975631933%;
    }
    .row .offset4 {
        margin-left: 36.75213675213675%;
        *margin-left: 36.645753773413354%;
    }
    .row .offset4:first-child {
        margin-left: 34.18803418803419%;
        *margin-left: 34.081651209310785%;
    }
    .row .offset3 {
        margin-left: 28.205128205128204%;
        *margin-left: 28.0987452264048%;
    }
    .row .offset3:first-child {
        margin-left: 25.641025641025642%;
        *margin-left: 25.53464266230224%;
    }
    .row .offset2 {
        margin-left: 19.65811965811966%;
        *margin-left: 19.551736679396257%;
    }
    .row .offset2:first-child {
        margin-left: 17.094017094017094%;
        *margin-left: 16.98763411529369%;
    }
    .row .offset1 {
        margin-left: 11.11111111111111%;
        *margin-left: 11.004728132387708%;
    }
    .row .offset1:first-child {
        margin-left: 8.547008547008547%;
        *margin-left: 8.440625568285142%;
    }

/** --------------------------------------------------------------
    MEDIA QUERIES - DESKTOP
    ----------------------------------------------------------- */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .mainContainer {
        width: 960px;
    }
}

/* VISIBILITY --------------------------------------- */

.hiddenDesktop {
    display: none !important;
    visibility: hidden !important;
}

.visibleDesktop {
    display: inherit !important;
    visibility: visible !important;
}

.visiblePhone {
    display: none !important;
    visibility: hidden !important;
}

.hiddenPhone {
    display: inherit !important;
    visibility: visible !important;
}

.visibleTablet {
    display: none !important;
    visibility: hidden !important;
}

.hiddenTablet {
    display: inherit !important;
    visibility: visible !important;
}

/** --------------------------------------------------------------
    MEDIA QUERIES - MOBILE AND TABLET
    ----------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 1024px) {
    /*
        Primary and Aside wrappers
    */
    .primary,
    .aside {
        float: left;
        width: 100%;
        margin: 0;
    }

        .primary {
            margin-top: 2em;
            min-height: auto;
        }

    /*
        Mobile navigation
    */
    .nav {
        background-image: none;
        padding: .6em 0;
    }

        .nav li {
            float: none;
            display: none;
        }

            .nav > li {
                margin: 0 .6em;
            }

            .nav li:first-child {
                display: block;
            }

            .nav li a {
                max-width: 350px;
                margin: 0 auto;
                border-top: 1px solid;
                border-color: #555;
            }

            .nav li a,
            .nav > li:nth-child(2) a {
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }

            .nav li.mobileTrigger {
                margin: 0;
            }

                .nav li.mobileTrigger a {
                    max-width: 100%;
                    border-top: 0;
                }

            /*
                Dropdowm menu
            */
            .nav li ul {
                display: block;
                position: relative;
                width: 100%;
                background-color: transparent;
                padding: 0;
                margin: 0;

                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;

                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }

                .nav li ul li a {
                    padding: 1em 1.25em;
                    color: #fff;
                    text-shadow: 0px 0px 1px #312d2a;
                }

                .nav li ul li a:hover,
                .nav li ul li a:focus,
                .nav li ul li.currentMenuItem a {
                    background-color: #454242;
                    color: #fff;
                }
        
        .nav.opened li {
            display: block;
        }
}

/** --------------------------------------------------------------
    MEDIA QUERIES - TABLET
    ----------------------------------------------------------- */
@media screen and (min-width: 767px) and (max-width: 1024px) {
    body {
        font-size: 0.84em;
    }

    .mainContainer {
        width: 768px;
    }

    /* VISIBILITY AND GRID ------------------------------ */

    .hiddenDesktop {
        display: inherit !important;
        visibility: visible !important;
    }

    .visibleDesktop {
        display: none !important;
        visibility: hidden !important;
    }

    .visiblePhone {
        display: none !important;
        visibility: hidden !important;
    }

    .hiddenPhone {
        display: inherit !important;
        visibility: visible !important;
    }

    .visibleTablet {
        display: inherit !important;
        visibility: visible !important;
    }

    .hiddenTablet {
        display: none !important;
        visibility: hidden !important;
    }
}

/** --------------------------------------------------------------
    MEDIA QUERIES - MOBILE
    ----------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 767px) {
    body {
        font-size: 0.84em;
    }
    
    .mainContainer {
        display: block;
        width: auto;
        max-width: 767px;
        margin: 0 1em;
    }

    .profile img {
        float: none;
        display: block;
        margin: 0 auto 1.6em;
    }

    .profilePicture img {
        float: none;
        display: block;
        margin: 0 auto 1.6em;
    }

    .events .poster {
        float: none;
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto 1.6em;
    }

    .article .meta .author {
        width: 50px;
        height: 50px;
    }

    .membersList li .pic {
        margin-right: 1em;
    }

    .membersList li .pic img {
        width: 40px;
        height: 40px;
    }

    /* VISIBILITY AND GRID ------------------------------ */

    .hiddenDesktop {
        display: inherit !important;
        visibility: visible !important;
    }

    .visibleDesktop {
        display: none !important;
        visibility: hidden !important;
    }

    .visiblePhone {
        display: inherit !important;
        visibility: visible !important;
    }

    .hiddenPhone {
        display: none !important;
        visibility: hidden !important;
    }

    .visibleTablet {
        display: none !important;
        visibility: hidden !important;
    }

    .hiddenTablet {
        display: inherit !important;
        visibility: visible !important;
    }

    .row [class*="span"] {
        width: 100%;
        margin-left: 0;
    }

    .row [class*="offset"] {
        margin-left: 0 !important;
    }
}

/** --------------------------------------------------------------
    MEDIA QUERIES - PRINT STYLES
    ----------------------------------------------------------- */
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}